body{
    font-family: 'Poppins', sans-serif;
    margin: 0px auto;
    background-color:#f1f1f1; ;
}
.half-width{
    width:40%;
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 2%;
}
.top-banner{
    display: flex;
    margin-bottom: 50px;
    background-color: #2d25a0;
}
.top-banner img{
    width: 556px;
    height: 438px;
}
.top-banner h1{
    color: #ffffff;
    font-weight: 900;
}
.link-btn{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #ffffff;
}
.half-width a{
    text-decoration: none;
}
p{
    font-size: 12px;
    color: #6C6C6C;
}
 
.card_image  img {
    height: 256px;
    width: 300px;
  }

  
  .cards {
      margin-right: 210px;
      margin-left: 210px;
      justify-content: center;
      align-items: center;
      padding: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 30px;
  }
  .card{
      padding: 15px;
      background-color: #FFFFFF;
      border-radius: 5px;
  }
  .cards_item {
    display: flex;
    padding: 20px;
  }
  


  @media only screen and (max-width:688px){

    .top-banner{
        display: grid;
        grid-template-rows: repeat(1,1fr);
    }
    .half-width img{
        height: 219px;
        width: 278px;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin:0;
        
    }
    .card_image{

      justify-content: center;
      display: grid;
      margin: 0;
    }
   
    .cards_item{
        margin: 0;
        padding:0;
    }
}