body{
    font-family: 'Poppins', sans-serif;
    margin: 0px auto;
    background-color:#f1f1f1;

}

/******************** top-banner starts********************/
.half-width{
    width:40%;
    margin-top: 5%;
    padding-left: 2%;
    height: 500px;
}
.top-banner{
    display: flex;
    margin-bottom: 50px;
    background-color: #2d25a0;
    /* overflow: hidden; */

}
.top-banner img:hover{
    transform:rotate(360deg);
    transition: transform 2s ease-in;
    
}
.top-banner img{
    width: 556px;
    height: 438px;
}
.top-banner h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
}
.link-btn{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #ffffff;
    font-size: 16px;
    width: 168px;
    height: 44px;
}
.half-width a{
    text-decoration: none;
}
p{
    font-size: 12px;
    color: #6C6C6C;
}
/*********************** top banner end ****************/

/*********************** player card starts ****************/
.player_image  img {
    height: 256px;
    width: 300px;
  }

  .text-2{
    margin-left: 200px;
    margin-bottom: 30px;
} 
  .players {
      margin-right: 210px;
      margin-left: 210px;
      justify-content: center;
      align-items: center;
      padding: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 30px;
  }
  .player{
      padding: 15px;
      background-color: #FFFFFF;
      border-radius: 5px;
  }
  .players_item {
    display: flex;
    padding: 20px;
  }
  .section-title{
      text-align: center;
      color: aquamarine;
  }

/********************* player cards end ******************/
/****************** country card starts ****************/
.countries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
  }
  .country {
    display: flex;
    justify-content: center;
  }
  .countries img {
    width: 56px;
    height: 56px;
  }
  .country-name {
    /* margin-left: 16px;
    font-size: 18px; */
  }



/****************** country card ends ****************/

/********************* bottom banner starts ******************/
  .bottom-half-width{
    width:40%;
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 2%;

  }
  .text-2 a{
    text-decoration: none;
  }
  .bottom-banner{
    display: flex;

}
.bottom-banner img{
    width: 567px;
    height: 427px;

}
/********************* bottom banner end ******************/
/********************* footer starts ******************/
.logo{
    text-align: center;
}
.logo img{
    height: 63px;
    width:300px;
 
}
.icons .fab{
    align-items: center;
    font-size: 32px;
    margin: 0 10px;
    color: #cbcbcb;
    
}
.icons{
    text-align: center; 
}
.copyright{
    text-align: center;
}
/********************* footer ends ******************/
/* mediaquery for mobile */
  @media only screen and (max-width:688px){
    .half-width{
        margin: 0;
        padding: 0;
    }
    .top-banner{
        display: grid;
        grid-template-rows: repeat(1,1fr);
    }
    .top-banner img{
        width: 329px;
        height: 259.17px;
    }
    .link-btn{
        background-color: #E02C6D;
        padding: 5px 12px;
        color: #ffffff;
        font-size: 12px;
        width: 84px;
        height: 22px;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin:0;
        
    }

    .player_image{

      justify-content: center;
      display: grid;
      margin: 0;
      padding: 0;
    }
    .top-banner h1{
        color: #ffffff;
        font-weight: 700;
        font-size: 36px;
        line-height: 80px;
    }
   .text-1{
       margin-left: 30px;
       margin-bottom: 30px;
   }
   .container{
    width:100% ;
    
}
.section-title h3{
    text-align: center;
}
.countries{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.country{
    flex-direction: column;
    display: flex;
    text-align: center;
}
.country img{
    position: absolute;

}
    .players_item{
        margin: 0;
        padding:0;
    }
    .bottom-banner{
        display: grid;
        grid-template-rows: repeat(1,1fr);
    }
    .bottom-banner img{
        width: 328px;
        height: 248px;
        /* margin: 0; */
    }
    .text-2{
        text-align: left;
        margin-left: 30px;
    }
    .logo img{
        height: 63px;
        width: 300px;
    }

}
/* mediaquery for tablet */
@media only screen and (min-width:688px) and (max-width:992px){
    .top-banner{
        display: flex;
        margin-bottom: 50px;
        height: 600px;
    }
    .top-banner img{
        width: 329px;
        height: 259.17px;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin:0;
        
    }
    .bottom-banner img{
        width: 328px;
        height: 248px;
        margin: 0;
    }
    .bottom-banner{
        display: flex;
    }
    .container{
        width: 100%;
    }
    .countries{
    grid-template-columns: repeat(2, 1fr); 
    
  }
  .country img{
    align-items: center;
   
  }
}